<div class="project">
  <!-- header -->
  <header>
    <div class="header">
      <img src="/assets/images/logo.png" alt="logo">
      <div class="header_content">
        <ul>
          <li>About</li>
          <li>Skill</li>
          <li>Work</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </header>
  <!-- intro -->
  <section class="intro">
    <div class="intro-content">
      <h1 class="title">Hi, I'm Nguyen Hong Ha</h1>
      <p class="description">
        <span class="collage-art">FrontEnd Developer</span> As an information technology student, I aspire to work in a
        professional environment
        where I can enhance my skills and acquire more programming knowledge. My goal is to
        successfully complete assigned tasks and contribute to the continuous development of
        my professional expertise
      </p>
      <a href="https://github.com/NguyenHongHa168" class="btn pointer">Github</a>
    </div>

    <div class="card-container">
      <div style="--r: -15; --y: 40; --x: 50" class="card-intro">
        <img src="/assets/images/me1.jpg" alt="" />
      </div>
      <div style="--r: 5; --y: -30; --x: 30" class="card-intro">
        <img src="/assets/images/me2.jpg" alt="" />
      </div>
      <div style="--r: 15; --y: 50; --x: 0" class="card-intro">
        <img src="/assets/images/me3.jpg" alt="" />
      </div>
    </div>
  </section>
  <!-- Skills -->
  <section class="featured " id="featured">
    <div class="gradient-line"></div>
    <h1 class="featured-title">Skills</h1>
    <div class="grid-area">
      <div class="item art-one" data-aos="zoom-in" data-aos-duration="2000">
        <img src="/assets/images/html.png" alt="html" />
      </div>

      <div class="item art-two" data-aos="zoom-in">
        <img src="../assets/images/css3.png" alt="css3" />
      </div>

      <div class="item art-three" data-aos="zoom-in">
        <img src="../assets/images/js.png" alt="js" />
      </div>

      <div class="item art-four" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/ts.png" alt="ts" />
      </div>

      <div class="item art-five" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/angular.png" alt="angular" />
      </div>

      <div class="item art-six" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/materialUI2.png" alt="materialUI2" />
      </div>

      <div class="item art-seven" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/php.png" alt="php" />
      </div>

      <div class="item art-eight" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/jquery.png" alt="jquery" />
      </div>

      <div class="item art-nine" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/soutree.png" alt="soutree" />
      </div>

      <div class="item art-ten" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/githug.png" alt="githug" />
      </div>

      <div class="item art-eleven" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/photoshop.jpg" alt="photoshop" />
      </div>

      <div class="item art-twelve" data-aos="zoom-in" data-aos-duration="1000">
        <img src="../assets/images/laravel.png" alt="laravel" />
      </div>
    </div>

    <div class="lightbox">
      <div class="slide prev">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="img-container">
        <p>title</p>
        <img src="sample.jpg" alt="" />
      </div>
      <div class="slide next">
        <i class="fa-solid fa-angle-right"></i>
      </div>
    </div>
  </section>
  <!-- timeLine -->
  <section class="featured" id="featured">
    <!-- <div class="gradient-line"></div> -->
    <h1 class="featured-title">Work Experience</h1>
    <!-- Work Experience -->
    <div class="timeline_company">
      <!-- overate_vntech -->
      <div class="w-30">
        <div class="timeline_company-name" data-aos="fade-right" data-aos-duration="2000">
          <p>InternShip</p>
          <p class="name-company">Overate Vntech</p>
          <ul class="ml-2">
            <li>Developing and maintaining web applications using React.js and other related technologies.</li>
            <li>Collaborating with cross-functional teams including designers, product managers, and other developers to
              create high-quality products.</li>
            <li>Assigned to handle login form access token/refesh token with redux-tool kit</li>
          </ul>
        </div>
        <div class="time-experience" style="color:white; margin:80px 50px;float: right;">April 24, 2023 - February 26, 2024</div>
      </div>
      <div class="timeline_company-experience w-10 ">
        <img src="../assets/images/overate_vntech.jpg" alt="overate_vntech">
        <img style="margin-top:350px" src="../assets/images/viethas.png" alt="overate_vntech">
      </div>
      <div class="timeline_company-time w-30">
        <div style="height:300px" class="time-experience">
          February 10, 2023 - April 12, 2023
        </div>
        <div class="timeline_company-name" data-aos="fade-left" data-aos-duration="2000">
          <p>FrontEnd Developer</p>
          <p class="name-company">Viethas</p>
          <ul class="ml-2">
            <li> Developed responsive and mobile-friendly websites using the ANGULAR FRAMEWORK, along with HTML, CSS, and TypeScript</li>
            <li>Implemented user interface designs for optimal user experience and performance</li>
            <li>The project is designed to facilitate the creation of new websites through a drag-and-drop interface</li>
            <!-- <li>Working directly with the Tester team to address Frontend issues</li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- my project -->
  <section class="featured">
      <h1 class="featured-title mb-5">My work project </h1>
      <div style="width: 80%;">
        <div class="row">
          <div class="col" data-aos="zoom-in" data-aos-duration="1000">
            <article class="card">
              <div class="media-object">
                <div style="overflow: hidden; border-radius: 20px;">
                  <img src="../assets/images/project_dogshop.jpg" alt="project_dogshop" style="width: 100%">
                </div>
              </div>
              <div class="intro-project">
                <p class="m-0 fs-5 fw-bold">12/2022 - 2/2022</p>
                <p class="m-0 fs-6">It is a personal project, intended to demonstrate my proficiency in languages and
                  frameworks</p>
                <p class="m-0 fs-6">Language used: HTML5, CSS3, BOOTSTRAP5, JQUERY, JS, AOS</p>

              </div>
              <div class="card__actions">
                <a href="https://nguyenhongha168.github.io/NguyenHongHa/DogShop/HomePage.html" class="card__button"
                  target="_blank">Link</a>
                <a target="_blank" href="https://github.com/NguyenHongHa168/NguyenHongHa/tree/main/DogShop"
                  class="card__button">Source code</a>
              </div>
            </article>
          </div>
          <div class="col mx-4 my-1" data-aos="zoom-in" data-aos-duration="1000">
            <article class="card">
              <div class="media-object">
                <div style="overflow: hidden; border-radius: 20px;">
                  <img src="../assets/images/project_coffee.jpg" alt="project_dogshop" style="width: 100%">
                </div>
              </div>
              <div class="intro-project">
                <p class="m-0 fw-bold">12/2022 - 2/2022</p>
                <p class="m-0 ">It is a personal project, intended to demonstrate my proficiency in languages and
                  frameworks</p>
                <p class="m-0 ">Language used: HTML5, CSS3, BOOTSTRAP5, JQUERY, JS, AOS</p>

              </div>
              <div class="card__actions">
                <a href="https://nguyenhongha168.github.io/NguyenHongHa/DogShop/HomePage.html" class="card__button"
                  target="_blank">Link</a>
                <a target="_blank" href="https://github.com/NguyenHongHa168/NguyenHongHa/tree/main/DogShop"
                  class="card__button">Source code</a>
              </div>
            </article>
          </div>
          <div class="col" data-aos="zoom-in" data-aos-duration="1000">
            <article class="card">
              <div class="media-object">
                <div style="overflow: hidden; border-radius: 20px;">
                  <img src="../assets/images/project_dogshop.jpg" alt="project_dogshop" style="width: 100%">
                </div>
              </div>
              <div class="intro-project">
                <p class="m-0 fs-5 fw-bold">12/2022 - 2/2022</p>
                <p class="m-0 fs-6">It is a personal project, intended to demonstrate my proficiency in languages and
                  frameworks</p>
                <p class="m-0 fs-6">Language used: HTML5, CSS3, BOOTSTRAP5, JQUERY, JS, AOS</p>

              </div>
              <div class="card__actions">
                <a href="https://nguyenhongha168.github.io/NguyenHongHa/DogShop/HomePage.html" class="card__button"
                  target="_blank">Link</a>
                <a target="_blank" href="https://github.com/NguyenHongHa168/NguyenHongHa/tree/main/DogShop"
                  class="card__button">Source code</a>
              </div>
            </article>
          </div>
        </div>
      </div>

      <a href="https://www.facebook.com/hong.ha201/?locale=vi_VN" class="source-link">
        <img src="../assets/images/logo_fb.png" alt="" width="30px">
         Nguyen Hong Ha
      </a>
      <a href="https://www.facebook.com/hong.ha201/?locale=vi_VN" class="source-link">
        <img src="../assets/images/logo_fb.png" alt="" width="30px">
        NguyenHongHa
      </a>
  </section>
  <!-- contact -->
 <section class="d-flex justify-content-around contact m-auto">
    <main>
      <div class="login-box">
        <h2>CONTACT FORM</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Message</label>
          </div>
          <a  (click)="sendContact()" style="cursor: pointer;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
        </form>
      </div>
    </main>
    <main class="contact-img" style="width:10%; float:right">
      <div class="cubes">
        <div class="cube" data-cube="111">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-z" data-cube="112"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="121">
          <div class="cube-wrap">
            <div class="cube-top">
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="131">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-z" data-cube="132"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="211">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="111"></div>
              <div class="shadow-y" data-cube="111"></div>
              <div class="shadow-z" data-cube="212"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="221">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="121"></div>
              <div class="shadow-y" data-cube="121"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="231">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="131"></div>
              <div class="shadow-y" data-cube="131"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="311">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="211"></div>
              <div class="shadow-y" data-cube="211"></div>
              <div class="shadow-z" data-cube="312"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="321">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="221"></div>
              <div class="shadow-y" data-cube="221"></div>
              <div class="shadow-z" data-cube="322"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="331">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="231"></div>
              <div class="shadow-y" data-cube="231"></div>
              <div class="shadow-z" data-cube="332"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>

        <div class="cube" data-cube="112">
          <div class="cube-wrap">
            <div class="cube-top">

            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="122">
          <div class="cube-wrap">
            <div class="cube-top">
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="132">
          <div class="cube-wrap">
            <div class="cube-top">
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="212">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="112"></div>
              <div class="shadow-y" data-cube="112"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="222">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="122"></div>
              <div class="shadow-y" data-cube="122"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="232">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="132"></div>
              <div class="shadow-y" data-cube="132"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="312">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="212"></div>
              <div class="shadow-y" data-cube="212"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="322">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="222"></div>
              <div class="shadow-y" data-cube="222"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="332">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="232"></div>
              <div class="shadow-y" data-cube="232"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>

        <div class="cube" data-cube="113">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-z" data-cube="111"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="123">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-z" data-cube="121"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="133">
          <div class="cube-wrap">
            <div class="cube-top">
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="213">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="113"></div>
              <div class="shadow-y" data-cube="113"></div>
              <div class="shadow-z" data-cube="211"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="223">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-y" data-cube="123"></div>
              <div class="shadow-z" data-cube="221"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="233">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-y" data-cube="133"></div>
              <div class="shadow-z" data-cube="231"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="313">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="213"></div>
              <div class="shadow-y" data-cube="213"></div>
              <div class="shadow-z" data-cube="311"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="323">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="223"></div>
              <div class="shadow-y" data-cube="223"></div>
              <div class="shadow-z" data-cube="321"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>
        <div class="cube" data-cube="333">
          <div class="cube-wrap">
            <div class="cube-top">
              <div class="shadow-flip" data-cube="233"></div>
              <div class="shadow-y" data-cube="233"></div>
              <div class="shadow-z" data-cube="331"></div>
            </div>
            <div class="cube-bottom"></div>
            <div class="cube-front-left"></div>
            <div class="cube-front-right"></div>
            <div class="cube-back-left"></div>
            <div class="cube-back-right"></div>
          </div>
        </div>

        <div class="large-shadows">
          <div class="large-shadow" data-cube="113"></div>
          <div class="large-shadow" data-cube="123"></div>
          <div class="large-shadow" data-cube="133"></div>
          <div class="large-shadow" data-cube="213"></div>
          <div class="large-shadow" data-cube="223"></div>
          <div class="large-shadow" data-cube="233"></div>
          <div class="large-shadow" data-cube="313"></div>
          <div class="large-shadow" data-cube="323"></div>
          <div class="large-shadow" data-cube="333"></div>
        </div>
      </div>
    </main>
  </section> 
</div>